* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

form{
    padding: 50px;
    
}

input{
    display: block;
    margin-top: 5px;
}

.card{
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    /* width: 100px; */
}

.profile{
    height: 30px;
    width: 30px;
    border: 2px solid none;
    border-radius: 50%;
    overflow: hidden;
}

.profile img{
    height: 100%;
    width: 100%;
}
