* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

#a{
    height: 80%;
    width: 80%;
    background-color: rebeccapurple;
}

#b{
    height: 80%;
    width: 80%;
    background-color: rgb(33, 142, 42);
}

#c{
    height: 80%;
    width: 80%;
    background-color: rgb(151, 147, 31);
}

button{
    padding: 12px 30px;
    background-color: crimson;
    border: none;
    border-radius: 12px;
}